.menu-button{
    width: 3%;
    height: 25px;
}

.ui-block-a, .ui-block-b, .ui-block-c{
    width: 30%;
    margin: 1%;

}

.ui-block-a{
    clear:left;
}

.icon-grid-menu img{
    width:100%;
    height:100%;
}

.kt-ui-grid-b{
    clear: left;
    overflow:hidden;
}

.link-block{
    text-align: center;
}

.link-block p {
    margin: 0;
}